
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Data files
/data/
!data/sample_data/  # Giữ lại thư mục sample_data nếu cần

# Log files
*.log
logs/

# System files
.DS_Store
Thumbs.db

# MongoDB
dump/
mongod.log

# Virtual environment
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Visual Studio Code
.history